<ion-view view-title="home" hide-nav-bar="true">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/login_03.jpg">
                <button ui-sref="login">登录/注册</button>
                <p>签到送好礼</p>
            </div>
        </div>
        <ion-list class="list-inset">
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-clipboard"></i>我的订单
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-android-bus"></i>收货地址
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-heart"></i>我的收藏
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-android-person-add"></i>联系客服
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-android-create"></i>帮助中心
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-compose"></i>意见反馈
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>