<ion-view view-title="用户登录" hide-nav-bar="true">
    <ion-content>
        <div class="buycar" >
            <i class="icon  icon ion-chevron-left" ui-sref="tabs.home"></i>
            <span>用户登录</span>
        </div>
        <div class="list list-inset">
            <div class="item item-input">
                <span>账号：</span>
                <input type="text" placeholder="用户名"/>
            </div>
            <div class="item item-input">
                <span>密码：</span>
                <input type="password" placeholder="您的密码">
            </div>
            <div class="button button-full button-balanced">登录</div>
        </div>
    </ion-content>
</ion-view>
