<ion-view view-title="分类">
    <ion-content>
        <div class="row" style="padding: 0 ;margin: 0;">
            <div class="col col-50">
                <img src="images/sort_02.jpg" ui-sref="freshFruit">
                <img src="images/sort_07.jpg">
                <img src="images/sort_11.jpg">
                <img src="images/sort_16.jpg">
            </div>
            <div class="col col-50">
                <img src="images/sort_04.jpg" ui-sref="giftBox">
                <img src="images/sort_08.jpg">
                <img src="images/sort_12.jpg">
                <img src="images/sort_17.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>