<ion-view view-title="新鲜水果" hide-nav-bar="true">
    <ion-content>

        <div class="box"><img src="images/banner_03.jpg"></div>
        <div class="buycar" >
            <i class="icon  icon ion-chevron-left" ui-sref="tabs.home"></i>
            <span>新鲜水果</span>
            <i class="icon ion-ios-cart-outline" ui-sref="tabs.buyCar"></i>
        </div>
        <ion-list class="card">
            <ion-item class=" item-thumbnail-left"  ng-repeat="product in products">
                <img ng-src="{{product.imgsrc}}">
                <h3>{{product.description}}</h3>
                <p>{{product.name}}</p>
                <p>{{product.price | currency:"RMB ￥"}}</p>
                <button ng-click="addToCart(product)"><i  class="ion-android-add-circle"></i></button>
            </ion-item>
            <ion-infinite-scroll on-infinite="loadMore()" immediate-check="false"></ion-infinite-scroll>
        </ion-list>

    </ion-content>
</ion-view>