<ion-tabs class="tabs-light tabs-icon-top">

    <ion-tab title="首页" icon-on="ion-ios-home-outline"
             icon-off="ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="tab_home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="分类" icon-on="ion-search"
             icon-off="ion-search" ui-sref="tabs.sort">
        <ion-nav-view name="tab_sort"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的果园" icon-on="ion-android-contact"
             icon-off="ion-android-contact" ui-sref="tabs.myFruit">
        <ion-nav-view name="tab_myFruit"></ion-nav-view>
    </ion-tab>
    <ion-tab title="购物车" icon-on="ion-ios-cart-outline"
             icon-off="ion-ios-cart-outline" ui-sref="tabs.buyCar">
        <ion-nav-view name="tab_buyCar"></ion-nav-view>
    </ion-tab>
</ion-tabs>